{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ data.name}}</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="{% url 'home' %}">Travello</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated%}
						<li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'account' %}">Hello {{ user.first_name}}</a></li>
						<li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'logout' %}">Logout</a></li>
					{% else %}
						<li><a href="{% url 'login' %}">Login</a></li>
						<li><a href="{% url 'register' %}">Register</a></li>
					{% endif%}
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image:url(&quot;{{ data.img.url }}&quot;);"></div>
                <div class="about-me">

                    <p>Hello! Great Choice <strong> {{ data.name }} </strong> {{ data.desc}} </p>
                    <p>People Ratings</p>
                    <p><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></p>
                    
                    <form method="post"action="{% url 'book' oid=data.id %}">
                        {% csrf_token %}
                        <h2 class="text-center"><strong>Selections</strong></h2>
                        <hr class="sidebar-divider my-0"><small style="color: rgb(0, 0, 0);font-size: 20px;">Hotels</small>
                        <select name = 'hotel_id' class="form-control">
                            <option disabled ='true' selected> --Select Maadi---</option>
                            {% for item in hotel_list %}
                            <option class="dropdown-item" value="{{ item.id }}" href="#">{{ item.name }} for {{ item.per_day_cost}}</option>
                            {% endfor %}
                          </select>
                        <br>
                        <hr class="sidebar-divider my-0"><small style="color: rgb(0, 0, 0);font-size: 20px;">Travel Service</small>
                        <select name = 'travel_id' class="form-control">
                            <option disabled ='true' selected> --Select Maadi---</option>
                            {% for item in travel_list %}
                            <option class="dropdown-item" value="{{ item.id }}" href="#">{{ item.name }} for {{ item.rtc }}</option>
                            {% endfor %}
                          </select>
                        <br>
                        <hr class="sidebar-divider my-0"><small style="color: rgb(0, 0, 0);font-size: 20px;">Date Of Start</small>
                        <div class="form-group"><input class="form-control" type="date" name="startdate" placeholder="Date Of Start"></div>
                        <hr class="sidebar-divider my-0"><small style="color: rgb(0, 0, 0);font-size: 20px;">Date Of End</small>
                        <div class="form-group"><input class="form-control" type="date" name="enddate" placeholder="Date Of End"></div>
                        
                        {% if messages%}
                        <ul clsass= 'messages'>
                            {% for message in messages%}
                            <li>
                                <div class= 'alert alert-success'>{{ message }}</div>
                            </li>
                            {% endfor%}
                        </ul>
                        {% endif %}
                        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Book now</button>
                    </form>
                   
            </div>
        </section>
    </main>
    <script src="{% static 'assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="{% static 'assets/js/theme.js'%}"></script>
</body>

</html>
