{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>register</title>
    <link rel="stylesheet" href="{% static 'pop/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'pop/css/Registration-Form-with-Photo.css'%}">
    <link rel="stylesheet" href="{% static 'pop/css/styles.css'%}">
</head>

<body>
    
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            {% if flag %}
                <div id="some_flag" title="Some Flag" style="color: brown;">
                     <p>{{ msg }}</p>
                 </div>
                {% endif %}
            <form method="post"action="{% url 'signup' %}">
                {% csrf_token %}
                <h2 class="text-center"><strong>Create</strong> an account.</h2>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                
                <div class="form-group"><input class="form-control" type="password" name="repassword" placeholder="Password (repeat)"></div>
                <div class="form-group"><input class="form-control" type="text" name="fname" placeholder="First Name"></div>
                <div class="form-group"><input class="form-control" type="text" name="lname" placeholder="Last Name"></div>
                <div class="form-group"><input class="form-control" type="text" name="address" placeholder="Address"></div>
                <div class="form-group"><input class="form-control" type="text" name="phone" placeholder="Phone"></div>
                <div class="form-group"><input class="form-control" type="date" name="dob" placeholder="Date Of Birth"></div>

                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign Up</button>
        </div>
    </div>
    <script src="{% static 'pop/js/jquery.min.js'%}"></script>
    <script src="{% static 'pop/bootstrap/js/bootstrap.min.js'%}"></script>
</body>

</html>
